<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


	<appender name="root-log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/sales/libraries/root.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss.S} %x %-5p %t [%c,%L] %m%n" />
		</layout>
	</appender>

	<appender name="hibernate-log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/sales/libraries/hibernateLogs.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss.S} %x %-5p %t [%c,%L] %m%n" />
		</layout>
	</appender>

	<appender name="spring-log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/sales/libraries/springLogs.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss.S} %x %-5p %t [%c,%L] %m%n" />
		</layout>
	</appender>

	<appender name="application-log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/sales/application.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss.S} %x %-5p %t [%c,%L] %m%n" />
		</layout>
	</appender>


	<logger name="it.reply" additivity="false">
		<level value="info" />
		<appender-ref ref="application-log" />
	</logger>

	<logger name="org.hibernate" additivity="false">
		<level value="warn" />
		<appender-ref ref="hibernate-log" />
	</logger>

	<logger name="org.springframework" additivity="false">
		<level value="warn" />
		<appender-ref ref="spring-log" />
	</logger>


	<root>
		<priority value="INFO" />
		<appender-ref ref="root-log" />
	</root>

</log4j:configuration>
